config.php
.htaccess
composer.json
composer.lock
node_modules/
package.json
package-lock.json
public/assets/
public/uploads/
public/uploads/.gitkeep
public/uploads/avatars/
public/uploads/avatars/.gitkeep
public/uploads/avatars/.gitignore
public/uploads/avatars/.htaccess
tsconfig.json
application/config/config.php
application/config/database.php
apt.deb
.vscode
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.idea
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_compatibility.xml
out/
out/src
out/src/main.js
out/src/main.js.map
out/src/main.js.map.br
pdf/
ressources/
ressources/.gitkeep
ressources/.gitignore
