@font-face {
    font-family: "Bocklin";
    src: url('./ressources/fonts/bocklin/Bocklin.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "Nightingale";
    src: url('./ressources/fonts/nightingale/Nightingale.ttf') format('truetype');
    font-display: swap;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.skipLink {
    position: absolute;
    top: -500px;
}

.homepage {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.nextSection {
    width: 100%;
    height: 100vh;
    background: rgba(245, 245, 220, 1) url('./ressources/images/background/jolie_deco.webp') center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
}

.flexContainer {
    display: flex;
    margin-right: 4rem;
}

.leftText,
.rightText {
    flex: 1;
    text-align: right;
}

.leftText {
    margin-left: 15%;
}

.rightText {
    margin-right: 5%;
}

.quoteText {
    font-family: 'Nightingale';
    color: rgba(245, 245, 220, 1);
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    padding: 3.5%;
    width: 75%;
}

.quoteText span:nth-child(1),
.quoteText span:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background: linear-gradient(to right, transparent, rgba(245, 245, 220, 0.5), transparent);
}

.quoteText span:nth-child(1) {
    top: 0;
}

.quoteText span:nth-child(2) {
    bottom: 0;
}

.authorText {
    font-family: Calibri;
    font-size: 1rem;
    margin-top: 1.5%;
    margin-bottom: 3%;
    margin-right: 32%;
    color: rgba(245, 245, 220, 1);
}

.servicesTitle,
.serviceDetails {
    font-family: "Bocklin";
    color: #3C2F2F;
}

.servicesTitle {
    font-size: 3rem;
}

.serviceDetails {
    font-size: 1.3rem;
    color: rgba(245, 245, 220, 1);
}

.case {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 60px;
    max-width: 100%;
    margin: 50px;
    justify-items: center;
}

.caseTitle {
    font-size: 1.5rem;
    font-family: "Bocklin";
    margin-bottom: 5%;
    text-align: center;
}

.caseBox {
    background-color: rgba(245, 245, 220, 1);
    border: 1px solid rgba(60, 47, 47, 0.2);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.caseBoxContent {
    font-family: Calibri;
    text-align: center;
    font-size: 14px;
    color: #3C2F2F;
    padding: 5%;
    margin-bottom: 5%;
}

.number {
    color: #3C2F2F;
    font-family: "Bocklin";
    font-size: 60px;
}

.download {
    text-decoration: none;
    font-weight: bold;
    color: #3C2F2F;
}

.download:hover {
    color: #184A45;
    text-decoration: underline;
}

.construction {
    margin-top: 15%;
    font-style: italic;
    font-size: 12px;
}

.questionsText a {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.25rem;
    margin-right: 5rem;
    font-size: 1rem;
    font-style: italic;
    text-decoration: none;
    font-family: Calibri;
    color: rgba(245, 245, 220, 1);
    transition: ease-in-out 0.5s;
}

.questionsText a:hover {
    cursor: pointer;
    transform: translateX(15px);
    transition: ease-in-out 0.5s;
}

.contentCrea {
    display: flex;
    background-color: #C1CDC1;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
}

.contentCreaCarousel {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease-out;
    min-width: 100vw;
}

.contentCreaTitle {
    flex: 1;
    font-size: 5rem;
    text-wrap: wrap;
    margin: 150px;
    color: #3C2F2F;
    font-family: "Bocklin";
    text-shadow: 5px 4px 6px #3c2f2f7e;
}

.presentation {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #F5F5DC;
}

.presentationImage {
    width: 600px;
    height: 800px;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 5px 0px rgba(29, 29, 29, 0.4) inset;
}

.presentationBoxLeft,
.presentationBoxRight {
    width: 50%;
    height: auto;
    margin-right: 5%;
}

.presentationBoxLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentationBoxRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentationBoxTitle {
    font-size: 5rem;
    font-weight: bold;
    font-family: "Bocklin";
    margin-bottom: 5%;
    color: #3C2F2F;
}


.presentationBoxText {
    height: 50%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 5%;
    margin-bottom: 5%;
    text-align: justify;
    font-family: Calibri;
    scrollbar-color: #3c2f2f81;
    scrollbar-color: #184a4575 transparent;
    scrollbar-width: thin;
}

.presentationBoxLogo {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.contact {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contactBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    z-index: -1;
}

.contactTitle {
    font-size: 6rem;
    text-align: right;
    color: #F5F5DC;
    font-family: "Bocklin";
}

.contactForm {
    flex-direction: column;
}

.ContactLogo {
    display: flex;
    justify-content: center;
    margin-right: -40%;
    margin-top: 5%;
}

.plusInfoCgu a {
    position: absolute;
    color: #F5F5DC;
    text-decoration: none;
    font-family: Calibri;
    right: 10%;
    bottom: 5%;
    font-size: 12px;
}

#contactForm input,
#contactForm textarea {
    border: 1px solid #3c2f2f12;
    border-radius: 5px;
}

/*    A L E R T   B O X    */

.message {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1%;
    background-color: #F5F5DC;
    color: #184A45;
    font-family: Calibri;
    border-radius: 15px;
    z-index: 3000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* Added box shadow */
}



/*    H E R O    */

.heroSection {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.heroBackground {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(245, 245, 220, 1) url('./ressources/images/background/triptyque.webp') center / cover no-repeat;
}

.blurredBackground {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    transition: background-image 1s ease-in-out;
}

.logoSite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    max-height: 600px;
}

.scrollButton {
    font-family: Calibri;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    color: #F5F5DC;
    font-size: 16px;
    cursor: pointer;
}

.arrow {
    width: 15px;
    height: 15px;
    border-left: 2px solid #F5F5DC;
    border-bottom: 2px solid #F5F5DC;
    transform: rotate(-45deg);
    margin: 0 auto;
    animation: arrowBounce 2s infinite;
}

@keyframes arrowBounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0) rotate(-45deg);
    }

    40% {
        transform: translateY(-10px) rotate(-45deg);
    }

    60% {
        transform: translateY(-5px) rotate(-45deg);
    }
}


/*    H E A D E R    */

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-color: rgba(245, 245, 220, 0.5);
    transition: all ease-in-out 0.5s;
}

.Header nav {
    width: 100%;
    border-color: gray;
}

.fullOpacity {
    transition: all ease-in-out 0.5s;
    background-color: rgba(245, 245, 220, 1);
}

.Header .Container {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 5px auto;
}

.Header .menuButton {
    display: none;
}

.Header .logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.Header .logo img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.Header .Navbar {
    display: flex;
    width: auto;
}

.Navbar.open {
    display: flex;
}

.Navbar ul {
    font-weight: 500;
    display: flex;
    padding: 0;
    margin-top: 0;
    border: none;
    background-color: transparent;
    margin-bottom: 0;
}

.Navbar ul li {
    margin-right: 1rem;
    list-style-type: none;
}

.Navbar ul li:last-child {
    margin-right: 0;
}

.Navbar ul li a {
    display: block;
    position: relative;
    padding: 0.5rem 0.75rem;
    color: #184A45;
    border: none;
    font-family: "Bocklin";
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    min-width: 150px;
    overflow: hidden;
    cursor: pointer;
}

.Navbar ul li a::before,
.Navbar ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    transition: width 0.3s ease, height 0.3s ease;
    border: 1px solid #184a45c9;
}

.Navbar ul li a::before {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
}

.Navbar ul li a::after {
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
}

.Navbar ul li a:hover::before,
.Navbar ul li a:hover::after {
    width: 100%;
    height: 100%;
}

/*    C A R O U S S E L    */

.carouselContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    overflow: hidden;
    width: 1000px;
    height: 800px;
    display: flex;
    align-items: center;
}

.carouselTrack {
    display: flex;
    width: max-content;
    transition: transform 0.5s ease-in-out;
}

.imageContainer {
    position: relative;
    min-width: 1000px;
    height: 600px;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 5px 0px rgba(29, 29, 29, 0.4) inset;
    overflow: hidden;
}


/* Zoomable Image */
.zoomableImage {
    cursor: zoom-in;
    display: block;
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    text-decoration: none;
    cursor: zoom-in;
}

.imageContainer:hover .overlay {
    opacity: 1;
}

.overlay .title,
.overlay .description {
    color: #F5F5DC;
    font-family: 'Nightingale';
    text-align: center;
}

.overlay .title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.overlay .description {
    font-size: 1.1rem;
    padding: 0 10px;
}

.title {
    color: #F5F5DC;
    font-family: 'Nightingale';
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.description {
    color: #F5F5DC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    padding: 0 10px;
}

.imageContainer:hover .overlay {
    opacity: 1;
}

.navButton {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.arrowLeft,
.arrowRight {
    display: block;
    margin: 30px auto;
    width: 25px;
    height: 25px;
    border-top: 2px solid #3C2F2F;
    border-left: 2px solid #3C2F2F;
    transition: ease-in-out 0.5s;
}

.arrowRight {
    transform: rotate(135deg);
}

.arrowLeft {
    transform: rotate(-45deg);
}

.arrowLeft:hover,
.arrowRight:hover {
    transition: ease-in-out 0.5s;
    color: #184A45;
    border-top: 4px solid #3C2F2F;
    border-left: 4px solid #3C2F2F;
}


/* C O N T A C T    F O R M */

.contactForm {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(245, 245, 220, 0.8);
    backdrop-filter: blur(2px);
    border-radius: 25px;
    width: 500px;
    height: 600px;
    padding: 10%;
}

.formGroup {
    margin-bottom: 2%;
}

input,
textarea {
    width: 100%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
}

label {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

input::placeholder,
textarea::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-family: Calibri;
    font-style: italic;
    font-size: 12px;
}

input:focus,
textarea:focus {
    border-color: #3C2F2F;
}

textarea {
    resize: none !important;
    min-height: 25vh;
}

.lineGradient {
    background: linear-gradient(to right, #3c2f2f8a, transparent);
    width: 60%;
    height: 1px;
    margin-bottom: 10px;
    margin-left: 9px;
}

.submitButton {
    background: none;
    border: none;
    color: #3C2F2F;
    text-shadow: 0px 5px 12px #3c2f2f;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "Calibri";
    padding: 10px 15px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2%;
    transition: color 0.3s;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.submitButton::before,
.submitButton::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    transition: width 0.3s ease, height 0.3s ease;
    border: 1px solid #184a45c9;
}

.submitButton::before {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
}

.submitButton::after {
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
}

.submitButton:hover {
    color: #184A45;
    text-shadow: none;
}

.submitButton:hover::before,
.submitButton:hover::after {
    width: 100%;
    height: 100%;
}

.submitButton:active {
    box-shadow: 10px 10px 5px 0px rgba(100, 100, 100, 0.5) inset;
}

/*    F O O T E R    */

.Footer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F5F5DC;
}

.Instagram {
    display: flex;
    align-items: flex-end;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    background-color: #3C2F2F;
    text-align: center;
    padding: 5px;
}

.Instagram::-webkit-scrollbar {
    display: none;
}

#elfsight-container {
    height: 50%;
}

.eapps-instagram-feed-title-container {
    display: none;
}

.FooterContent {
    color: #3C2F2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
}

.Title {
    margin: auto;
    font-size: 5rem;
    /* padding: 5% 15%; */
    font-family: "Bocklin";
}

.condition {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.condition a {
    font-size: 14px;
    font-family: Calibri;
    text-decoration: none;
    color: #184A45;
    transition: ease;
}

.condition a:hover {
    transition: ease 0.2s;
    font-weight: bold;
}

.Copyright {
    font-family: Calibri;
    text-transform: uppercase;
    background-color: #3C2F2F;
    color: #F5F5DC;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 1%;
}



/*    I C O N    */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    fill: #F5F5DC;
    transition: all ease-in-out 0.3s;
}

.icon:hover {
    transition: all ease-in-out 0.3s;
    filter: drop-shadow(0 0 0.75rem #3C2F2F);
}


/* Media queries */
@media screen and (max-width: 1550px) {
    .contentCreaCarousel {
        transform: translateX(-8%);
    }

    .carousel {
        width: 800px;
        height: 500px;
    }

    .imageContainer {
        min-width: 800px;
        height: 500px;
    }

    .presentationImage {
        width: 500px;
        height: 650px;
    }
}

@media screen and (max-width: 1490px) {
    .Header {
        height: 3rem;
    }

    .case {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 60px;
    }

    .caseBox {
        width: 350px;
        height: 350px;
    }

    .quoteText,
    .authorText {
        font-size: 0.8rem;
    }

    .contentCreaTitle {
        font-size: 4rem;
    }

    .presentationImage {
        width: 350px;
        height: 550px;
    }

    .Title {
        font-size: 2.5rem;
        /* padding: 2% 5%; */
    }

    .Navbar ul li a {
        width: 200px;
    }
}

@media screen and (max-width: 1380px) {

    .contentCreaCarousel,
    .contentCreaTitle {
        transform: translateX(-15%);
    }
}

@media screen and (max-width: 1280px) {
    .case {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 50px;
    }

    .caseBox {
        width: 300px;
        height: 300px;
    }

    .quoteText,
    .authorText {
        font-size: 0.7rem;
    }

    .authorText {
        margin-top: 2.5%;
    }

    .servicesTitle {
        font-size: 2rem;
    }

    .serviceDetails {
        font-size: 0.9rem;
    }

    .questionsText {
        font-size: 1rem;
    }

    .contentCreaTitle {
        font-size: 3.5rem;
        margin: 100px;
    }

    .contentCreaCarousel,
    .contentCreaTitle {
        transform: translateX(0);
    }

    .presentationImage {
        width: 350px;
        height: 450px;
    }

    .Title {
        font-size: 2.2rem;
        /* padding: 2% 5%; */
    }

    .Navbar ul li {
        margin-right: 0;
    }

    .Navbar ul li a {
        width: 150px;
    }

    .carousel {
        width: 600px;
        height: 450px;
    }

    .imageContainer {
        min-width: 600px;
        height: 450px;
    }
}

@media screen and (max-width: 1150px) {
    .case {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    .caseBox {
        width: 280px;
        height: 280px;
    }

    .caseBoxContent {
        overflow-y: scroll;
    }

    .contentCreaCarousel,
    .contentCreaTitle {
        transform: translateX(-12%);
    }
}

@media screen and (max-width: 1050px) {
    .Header {
        height: auto;
    }

    .Header .Container {
        flex-direction: row-reverse;
    }

    .Header .Container .menuButton {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

    .Header .Container .menuButton svg {
        width: 25px;
        height: 25px;
        fill: #184A45;
    }

    .Header .Container .Navbar {
        display: none;
    }

    .open {
        display: flex !important;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f5f5dc;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .Navbar.open ul {
        flex-direction: column;
    }

    .Navbar.open ul li {
        margin: 10px 0;
        width: 100%;
    }

    .Navbar.open ul li a {
        width: 100%;
        padding: 15px 0;
    }

    .case {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        gap: 50px;
    }

    .caseBox {
        width: 230px;
        height: auto;
    }

    .contentCrea {
        flex-direction: column;
    }

    .contentCreaTitle {
        display: flex;
        align-items: center;
    }

    .contentCreaCarousel {
        flex-shrink: 0;
        gap: 0;
        height: 500px;
        justify-content: center;
        transform: translateY(-25%);
    }

    .presentationImage {
        width: 300px;
        height: 400px;
        margin-left: 10%;
    }

    .presentationBoxTitle {
        font-size: 2rem;
    }

    .presentationBoxText {
        font-size: 13px;
        width: 80%;
    }

    .presentationBoxLogo {
        margin-right: 20%;
    }

    .Navbar ul {
        gap: 0;
    }

    .Navbar ul li a {
        width: 120px;
    }

    .leftText {
        display: none;
    }

    .contactTitle {
        font-size: 4rem;
    }

    .carousel,
    .imageContainer {
        width: 100%;
        height: 50vh;
    }

    #carouselContainer {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        /* Pour Firefox */
        -ms-overflow-style: none;
        /* Pour Internet Explorer et Edge */
    }

    #carouselContainer::-webkit-scrollbar {
        display: none;
        /* Pour Chrome, Safari et Opera */
    }

    #carouselTrack {
        display: flex;
        transition: none;
        transform: none !important;
    }

    .imageContainer {
        scroll-snap-align: start;
    }

    .carouselContainer {
        touch-action: pinch-zoom;
    }
}

@media screen and (max-width: 902px) {
    .flexContainer {
        flex-direction: column;
    }

    .leftText {
        margin-left: 12%;
        width: 50%;
    }

    .case {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin: 0;
    }

    .presentation {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .presentationBoxRight {
        height: 70%;
        width: 90%;
    }

    .presentationBoxLeft {
        width: 100%;
        margin: 0;
    }

    .presentationImage {
        width: 100%;
        height: 150px;
        margin: 0;
    }

    .presentationBoxText {
        height: 75%;
    }

    .presentationBoxTitle {
        margin-top: 2%;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .contactTitle {
        text-align: center;
    }

    .contactForm {
        height: 400px;
        width: 350px;
    }

    textarea {
        min-height: 150px;
    }
}

@media screen and (max-width: 760px) {
    .servicesTitle {
        font-size: 1.5rem;
    }

    .case {
        margin-top: 2%;
        height: 500px;
        padding: 5%;
        grid-template-columns: minmax(200px, 1fr);
        overflow-y: scroll;
        gap: 40px;
    }

    .questionsText {
        font-size: 0.8rem;
    }

    .FooterContent {
        height: 35%;
    }

    #elfsight-container {
        height: 75%;
    }

    .Navbar ul {
        display: flex;
        flex-direction: column;
    }

    .Title {
        order: 1;
        /* padding: 2%; */
    }
}

@media screen and (max-width: 650px) {
    .leftText {
        display: none;
    }

    .contentCreaTitle {
        font-size: 3rem;
        align-items: flex-start;
    }

    .contentCreaCarousel {
        height: 350px;
        justify-content: center;
        transform: translateY(-30%);
    }

    .logoSite {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    .contactTitle {
        font-size: 3rem;
        margin-top: 10%;
    }

    .condition {
        height: 100px;
        margin-top: 10%;
    }

    .Copyright {
        font-size: 9px;
    }
}

@media screen and (max-width: 500px) {
    .case {
        height: 350px;
    }

    .caseTitle {
        font-size: 0.9rem;
        margin-bottom: 2.5%;
    }

    .contactForm {
        width: 300px;
    }

    .customGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Title {
        text-align: center;
    }

    .presentationBoxText {
        width: 100%;
    }
}